body {
	margin: 1px 1px 1px 1px;
	padding: 0.5cm 0.5cm 0.5cm 0.5cm;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e9/Gradient_1024x768.jpg");
	background-size: 100%;
}


header {
	height:50px;
    background: grey;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;

}

#selfie {
	padding: 10px 10px 10px 10px;
}



#bio {
	float: left;
	background: white;
	border: 20px;
	max-width: 900px;

}

#links {
	height: 300px;
	width: 300px;
	float: right;
	background: white;
	border: 10px black;
}


/* "Fix" the flow of the page */
.clearfix::after {
	content: "";
	display: block;
	clear: both;

}

footer {
	height: 50px
	width: 900px;
	background: grey;
	border: 20px black;
	
}



p {
	text-align: left;
}

.icon {
	height: 32px;
	width: 32px;
}